# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

**/build/
**/build-*/

/.idea/
/.vscode/
/.cache/

/tools/node_modules
/tools/package-lock.json
/tools/package.json

/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/linglong-bin/
/debian/linglong-builder/
/debian/*debhelper*
/debian/linglong-bin.substvars
/debian/linglong-builder
/debian/linglong-builder.substvars
/debian/tmp/usr
/obj-x86_64-linux-gnu
