# SPDX-FileCopyrightText: 2023 UnionTech Software Technology Co., Ltd.
#
# SPDX-License-Identifier: LGPL-3.0-or-later

[Unit]
Description=Linglong dbus service

[Service]
Type=dbus
User=@LINGLONG_USERNAME@
Group=@LINGLONG_USERNAME@
BusName=org.deepin.linglong.PackageManager
ExecStart=@CMAKE_INSTALL_FULL_LIBEXECDIR@/linglong/ll-package-manager
MemoryMax=8G
Restart=on-failure
RestartSec=10
