[Unit]
Description=Linglong dbus service

[Service]
Type=dbus
User=deepin-linglong
Group=users
BusName=org.deepin.linglong.PackageManager
ExecStart=/usr/bin/ll-package-manager
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
