[D-BUS Service]
Name=org.deepin.linglong.PackageManager
Exec=/usr/bin/ll-package-manager
User=linglong
SystemdService=org.deepin.linglong.PackageManager.service
