<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!-- this file only used to skip DBus security check, it will be removed later -->
<policyconfig>
        <vendor />
        <vendor_url />
        <icon_name>stock_person</icon_name>
        <action id="org.deepin.linglong.PackageManager.checkAuthentication">
                <description>Check Authentication</description>
                <message>Authentication is required to perform this action</message>
                <defaults>
                        <allow_any>no</allow_any>
                        <allow_inactive>no</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <description xml:lang="en_US">Check Authentication</description>
                <message xml:lang="en_US">Authentication is required to perform this action</message>
                <description xml:lang="it">Check Authentication</description>
                <message xml:lang="it">Autenticazione richiesta per eseguire questa operazione</message>
                <description xml:lang="zh_CN">Check Authentication</description>
                <message xml:lang="zh_CN">当前操作需要密码认证</message>
                <description xml:lang="hu">Hitelesítés ellenőrzése</description>
                <message xml:lang="hu">Hitelesítés szükséges a művelet végrehajtásához</message>
                <description xml:lang="zh_TW">Check Authentication</description>
                <message xml:lang="zh_TW">目前操作需要密碼認證</message>
                <description xml:lang="zh_HK">Check Authentication</description>
                <message xml:lang="zh_HK">當前操作需要密碼認證</message>
                <description xml:lang="fi">Check Authentication</description>
                <message xml:lang="fi">Tämän toiminnon suorittaminen edellyttää todennusta</message>
        </action>
</policyconfig>
