<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!-- this file only used to skip DBus security check, it will be removed later -->
<policyconfig>
        <vendor />
        <vendor_url />
        <icon_name>stock_person</icon_name>
        <action id="org.deepin.linglong.PackageManager1.checkAuthentication">
                <description>Check Authentication</description>
                <message>Authentication is required to perform this action</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.exec.path">@CMAKE_INSTALL_FULL_BINDIR@/@LINGLONG_CLI_BIN@</annotate>
                <description xml:lang="ar">التحقق من المصادقة</description>
                <message xml:lang="ar">المصادقة مطلوبة لتنفيذ هذا الإجراء</message>
                <description xml:lang="ast">Comprobar l'autenticación</description>
                <message xml:lang="ast">Ríquese l'autenticación pa realizar esta aición</message>
                <description xml:lang="az">Doğrulamaya nəzarət et</description>
                <message xml:lang="az">Bu əməliyyatı yerinə yetirmək üçün doğrulama tələບ olunur</message>
                <description xml:lang="bg">Проверете удостоверяването</description>
                <message xml:lang="bg">Удостоверяването е задължително за извършване на това действие</message>
                <description xml:lang="bn">প্রমাণীকরণ পরীক্ষা করুন</description>
                <message xml:lang="bn">এই কাজটি সম্পন্ন করার জন্য প্রমাণীকরণের প্রয়োজন</message>
                <description xml:lang="bo">ར་ສྤྲོད་བསྐྱར་ཞິບབྱེད་པ།</description>
                <message xml:lang="bo">ལས་ཀ་འདི་སྒྲུབ་པར་ར་སྤྲོད་བྱེད་དགོས།</message>
                <description xml:lang="ca">Comprova l'autenticació</description>
                <message xml:lang="ca">Cal autenticació per a dur a terme aquesta acció.</message>
                <description xml:lang="cs">Ověřit autentizaci</description>
                <message xml:lang="cs">Provedení této akce vyžaduje autentizaci</message>
                <description xml:lang="da">Kontroller godkendelse</description>
                <message xml:lang="da">Der kræves godkendelse for at udføre denne handling</message>
                <description xml:lang="de">Authentifizierung prüfen</description>
                <message xml:lang="de">Zur Durchführung dieser Aktion ist eine Authentifizierung erforderlich</message>
                <description xml:lang="de_DE">Authentifizierung prüfen</description>
                <message xml:lang="de_DE">Für diese Aktion ist eine Authentifizierung erforderlich</message>
                <description xml:lang="el">Έλεγχος ταυτότητας</description>
                <message xml:lang="el">Απαιτείται πιστοποίηση για την εκτέλεση αυτής της ενέργειας</message>
                <description xml:lang="en_AU">Check Authentication</description>
                <message xml:lang="en_AU">Authentication is required to perform this action</message>
                <description xml:lang="en_GB">Check Authentication</description>
                <message xml:lang="en_GB">Authentication is required to perform this action</message>
                <description xml:lang="en_US">Check Authentication</description>
                <message xml:lang="en_US">Authentication is required to perform this action</message>
                <description xml:lang="eo">Kontroli Aŭtentigon</description>
                <message xml:lang="eo">Aŭtentigo bezonatas por plenumi ĉi tiun agon</message>
                <description xml:lang="es">Comprobar autenticación</description>
                <message xml:lang="es">Se requiere autenticación para realizar esta acción</message>
                <description xml:lang="es_419">Comprobar autenticación</description>
                <message xml:lang="es_419">Se requiere autenticación para realizar esta acción</message>
                <description xml:lang="fa">بررسی احراز هویت</description>
                <message xml:lang="fa">احراز هویت برای انجام این عمل لازم است</message>
                <description xml:lang="fi">Tarkista todennus</description>
                <message xml:lang="fi">Tämän toiminnon suorittaminen edellyttää todennusta</message>
                <description xml:lang="fr">Vérifier l'authentification</description>
                <message xml:lang="fr">L'authentification est requise pour effectuer cette action</message>
                <description xml:lang="gl_ES">Comprobar autenticación</description>
                <message xml:lang="gl_ES">Requírese autenticación para realizar esta acción</message>
                <description xml:lang="hi_IN">प्रमाणीकरण की जाँच करें</description>
                <message xml:lang="hi_IN">यह कार्य करने हेतु प्रमाणीकरण आवश्यक है</message>
                <description xml:lang="hr">Provjera ovjere</description>
                <message xml:lang="hr">Potrebna je ovjera za obavljanje ove radnje</message>
                <description xml:lang="hu">Hitelesítés ellenőrzése</description>
                <message xml:lang="hu">A művelet végrehajtásához hitelesítés szükséges</message>
                <description xml:lang="id">Periksa Otentikasi</description>
                <message xml:lang="id">Otentikasi diperlukan untuk melakukan tindakan ini</message>
                <description xml:lang="it">Verifica Autenticazione</description>
                <message xml:lang="it">Autenticazione richiesta per eseguire questa operazione</message>
                <description xml:lang="ja">認証を確認</description>
                <message xml:lang="ja">この操作を実行するには認証が必要です</message>
                <description xml:lang="kab">Sesteb n usemdu</description>
                <message xml:lang="kab">Yetwasra usesteb akken ad tbeddeleḍ tazzla-a.</message>
                <description xml:lang="ko">인증 확인</description>
                <message xml:lang="ko">이 작업을 수행하려면 인증이 필요합니다</message>
                <description xml:lang="lo">ກວດສອບການຢັ້ງຢືນຕົວຕົນ</description>
                <message xml:lang="lo">ຕ້ອງມີການຢັ້ງຢືນຕົວຕົນເພື່ອປະຕິບັດການດຳເນີນການນີ້</message>
                <description xml:lang="lt">Patikrinti tapatybės nustatymą</description>
                <message xml:lang="lt">Norint atlikti šį veiksmą, reikalingas tapatybės nustatymas</message>
                <description xml:lang="lv">Pārbaudīt autentifikāciju</description>
                <message xml:lang="lv">Lai veiktu šo darbību, nepieciešama autentifikācija</message>
                <description xml:lang="mn">Баталгаажуулалт шалгах</description>
                <message xml:lang="mn">Энэ үйлдлийг хийхэд баталгаажуулалт шаардлагатай</message>
                <description xml:lang="ms">Semak Pengesahihan</description>
                <message xml:lang="ms">Pengesahihan diperlukan untuk melakukan tindakan ini</message>
                <description xml:lang="ne">प्रमाणीकरण जाँच गर्नुहोस्</description>
                <message xml:lang="ne">यो कार्य गर्न प्रमाणीकरण आवश्यक छ</message>
                <description xml:lang="nl">Authenticatie controleren</description>
                <message xml:lang="nl">Authenticatie vereist om deze actie uit te voeren</message>
                <description xml:lang="pa">ਪ੍ਰਮਾਣਕਤਾ ਦੀ ਜਾਂਚ ਕਰੋ</description>
                <message xml:lang="pa">ਇਹ ਕਾਰਵਾਈ ਕਰਨ ਲਈ ਪ੍ਰਮਾਣਕਤਾ ਦੀ ਲੋੜ ਹੈ</message>
                <description xml:lang="pl">Sprawdź uwierzytelnienie</description>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby wykonać tę czynność</message>
                <description xml:lang="pt">Verificar autenticação</description>
                <message xml:lang="pt">É necessária a autenticação para efetuar esta ação</message>
                <description xml:lang="pt_BR">Verificar autenticação</description>
                <message xml:lang="pt_BR">A autenticação é necessária para realizar esta ação</message>
                <description xml:lang="ro">Verificare autentificare</description>
                <message xml:lang="ro">Autentificarea este necesară pentru a efectua această acțiune</message>
                <description xml:lang="ru">Проверить аутентификацию</description>
                <message xml:lang="ru">Для выполнения этого действия требуется аутентификация</message>
                <description xml:lang="si">සත්‍යාපනය පරීක්ෂා කරන්න</description>
                <message xml:lang="si">මෙම ක්‍රියාව සිදු කිරීමට සත්‍යාපනය අවශ්‍ය වේ</message>
                <description xml:lang="sk">Skontrolovať overenie totožnosti</description>
                <message xml:lang="sk">Na vykonanie tejto akcie sa vyžaduje overenie totožnosti</message>
                <description xml:lang="sl">Preverite avtentikacijo</description>
                <message xml:lang="sl">Za izvedbo tega dejanja je potrebna avtentikacija</message>
                <description xml:lang="sq">Kontrollo Mirëfilltësimin</description>
                <message xml:lang="sq">Për të kryer këtë veprim, lypset mirëfilltësim</message>
                <description xml:lang="sr">Провери идентификацију</description>
                <message xml:lang="sr">Идентификација је неопходна за извршење ове радње</message>
                <description xml:lang="sv">Kontrollera autentisering</description>
                <message xml:lang="sv">Autentisering krävs för att utföra denna åtgärd</message>
                <description xml:lang="sw">Angalia Uthibitishaji</description>
                <message xml:lang="sw">Uthibitishaji unahitajika kutekeleza kitendo hiki</message>
                <description xml:lang="tr">Kimlik Doğrulamayı Kontrol Et</description>
                <message xml:lang="tr">Bu eylemi gerçekleştirmek için kimlik doğrulaması gereklidir</message>
                <description xml:lang="ug">سالاھىيەتنى دەلىللەش</description>
                <message xml:lang="ug">بۇ ھەرىكەتنى ئىجرا قىلىش ئۈچۈن سالاھىيەتنى دەلىللەش كېرەك</message>
                <description xml:lang="uk">Перевірити розпізнавання</description>
                <message xml:lang="uk">Для виконання цієї дії потрібно пройти розпізнавання</message>
                <description xml:lang="vi">Kiểm tra Xác thực</description>
                <message xml:lang="vi">Cần xác thực để thực hiện hành động này</message>
                <description xml:lang="zh_CN">检查认证</description>
                <message xml:lang="zh_CN">当前操作需要密码认证</message>
                <description xml:lang="zh_TW">檢查驗證</description>
                <message xml:lang="zh_TW">執行此操作需要驗證</message>
                <description xml:lang="zh_HK">檢查認證</description>
                <message xml:lang="zh_HK">執行此操作需要認證</message>
        </action>
</policyconfig>
