Source: linglong
Section: admin
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>= 11),
 cmake,
 build-essential,
 libyaml-cpp-dev,
 libgtest-dev,
 qt5-qmake,
 qtbase5-dev,
 libdtkcore-dev,
 libarchive-dev,
 pkg-config,
 libcurl4-gnutls-dev,
 libglib2.0-dev,
 libostree-dev,
 libgdk-pixbuf2.0-dev
Standards-Version: 4.1.3
Homepage: http://www.deepin.org

Package: linglong-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ostree, linglong-box
Description: Package Manager for UOS.
 Package Manager...

Package: linglong-builder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-pip, python3-paramiko, python3-jinja2, squashfs-tools, linglong-loader
Description: Package Manager for UOS.
 Package Manager...
