[Unit]
Description=Linglong dbus service

[Service]
Type=dbus
User=linglong
Group=linglong
BusName=org.deepin.linglong.PackageManager
ExecStartPre=-+/usr/libexec/linglong/create-linglong-dirs
ExecStartPre=-+/usr/lib/linglong/create-linglong-dirs
ExecStart=/usr/bin/ll-package-manager
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
