[Desktop Entry]
Name=AuthPass
Exec=/opt/apps/app.authpass/files/authpass %U
Terminal=false
Type=Application
Icon=authpass
StartupWMClass=authpass
GenericName=Password Manager
Comment=Password Manager
Categories=Utility;
Keywords=password;security;
