# SPDX-FileCopyrightText: 2024 UnionTech Software Technology Co., Ltd.
#
# SPDX-License-Identifier: LGPL-3.0-or-later

[Unit]
Description=linglong-session-helper

[Service]
Type=simple
ExecStart=@CMAKE_INSTALL_FULL_LIBEXECDIR@/linglong/ll-session-helper
Restart=always

[Install]
WantedBy=default.target
