#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Linglong
Categories=chat;
Icon=
Exec=/usr/bin/ll-installer -u %u
NoDisplay=true
Name=Linglong Store Installer
Name[zh_CN]=Linglong Store Installer
MimeType=x-scheme-handler/og
