[Desktop Entry]
Name=Linyaps
Encoding=UTF-8
Type=Application
Exec=/usr/bin/ll-cli install %f
NoDisplay=true
Hidden=true
Terminal=true
Name[zh_CN]=如意玲珑
MimeType=application/vnd.linyaps.uab;
